@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .chess-board-grid-area {
        grid-template-areas:
            "A8 B8 C8 D8 E8 F8 G8 H8"
            "A7 B7 C7 D7 E7 F7 G7 H7"
            "A6 B6 C6 D6 E6 F6 G6 H6"
            "A5 B5 C5 D5 E5 F5 G5 H5"
            "A4 B4 C4 D4 E4 F4 G4 H4"
            "A3 B3 C3 D3 E3 F3 G3 H3"
            "A2 B2 C2 D2 E2 F2 G2 H2"
            "A1 B1 C1 D1 E1 F1 G1 H1";
    }
}

@layer base {
    [data-cell="A1"] { grid-area: A1; }
    [data-cell="B1"] { grid-area: B1; }
    [data-cell="C1"] { grid-area: C1; }
    [data-cell="D1"] { grid-area: D1; }
    [data-cell="E1"] { grid-area: E1; }
    [data-cell="F1"] { grid-area: F1; }
    [data-cell="G1"] { grid-area: G1; }
    [data-cell="H1"] { grid-area: H1; }
    
    [data-cell="A2"] { grid-area: A2; }
    [data-cell="B2"] { grid-area: B2; }
    [data-cell="C2"] { grid-area: C2; }
    [data-cell="D2"] { grid-area: D2; }
    [data-cell="E2"] { grid-area: E2; }
    [data-cell="F2"] { grid-area: F2; }
    [data-cell="G2"] { grid-area: G2; }
    [data-cell="H2"] { grid-area: H2; }

    [data-cell="A3"] { grid-area: A3; }
    [data-cell="B3"] { grid-area: B3; }
    [data-cell="C3"] { grid-area: C3; }
    [data-cell="D3"] { grid-area: D3; }
    [data-cell="E3"] { grid-area: E3; }
    [data-cell="F3"] { grid-area: F3; }
    [data-cell="G3"] { grid-area: G3; }
    [data-cell="H3"] { grid-area: H3; }

    [data-cell="A4"] { grid-area: A4; }
    [data-cell="B4"] { grid-area: B4; }
    [data-cell="C4"] { grid-area: C4; }
    [data-cell="D4"] { grid-area: D4; }
    [data-cell="E4"] { grid-area: E4; }
    [data-cell="F4"] { grid-area: F4; }
    [data-cell="G4"] { grid-area: G4; }
    [data-cell="H4"] { grid-area: H4; }

    [data-cell="A5"] { grid-area: A5; }
    [data-cell="B5"] { grid-area: B5; }
    [data-cell="C5"] { grid-area: C5; }
    [data-cell="D5"] { grid-area: D5; }
    [data-cell="E5"] { grid-area: E5; }
    [data-cell="F5"] { grid-area: F5; }
    [data-cell="G5"] { grid-area: G5; }
    [data-cell="H5"] { grid-area: H5; }

    [data-cell="A6"] { grid-area: A6; }
    [data-cell="B6"] { grid-area: B6; }
    [data-cell="C6"] { grid-area: C6; }
    [data-cell="D6"] { grid-area: D6; }
    [data-cell="E6"] { grid-area: E6; }
    [data-cell="F6"] { grid-area: F6; }
    [data-cell="G6"] { grid-area: G6; }
    [data-cell="H6"] { grid-area: H6; }

    [data-cell="A7"] { grid-area: A7; }
    [data-cell="B7"] { grid-area: B7; }
    [data-cell="C7"] { grid-area: C7; }
    [data-cell="D7"] { grid-area: D7; }
    [data-cell="E7"] { grid-area: E7; }
    [data-cell="F7"] { grid-area: F7; }
    [data-cell="G7"] { grid-area: G7; }
    [data-cell="H7"] { grid-area: H7; }

    [data-cell="A8"] { grid-area: A8; }
    [data-cell="B8"] { grid-area: B8; }
    [data-cell="C8"] { grid-area: C8; }
    [data-cell="D8"] { grid-area: D8; }
    [data-cell="E8"] { grid-area: E8; }
    [data-cell="F8"] { grid-area: F8; }
    [data-cell="G8"] { grid-area: G8; }
    [data-cell="H8"] { grid-area: H8; }
}