@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .desk-grid-area {
        display: grid;
        grid-template:
            "r8 A8 B8 C8 D8 E8 F8 G8 H8 . b1 b2" 1fr
            "r7 A7 B7 C7 D7 E7 F7 G7 H7 . b3 b4" 1fr
            "r6 A6 B6 C6 D6 E6 F6 G6 H6 . b5 b6" 1fr
            "r5 A5 B5 C5 D5 E5 F5 G5 H5 . .. .." 1fr
            "r4 A4 B4 C4 D4 E4 F4 G4 H4 . .. .." 1fr
            "r3 A3 B3 C3 D3 E3 F3 G3 H3 . w1 w2" 1fr
            "r2 A2 B2 C2 D2 E2 F2 G2 H2 . w3 w4" 1fr
            "r1 A1 B1 C1 D1 E1 F1 G1 H1 . w5 w6" 1fr
            ".. rA rB rC rD rE rF rG rH . .. .." auto
            / auto 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 2em 1fr 1fr
            ;
    }
    .board-subgrid {
        display: grid;
        grid-row: A8 / A1;
        grid-column: A1 / H1;
        grid: subgrid / subgrid;
    }
    .white-side-subgrid {
        display: grid;
        grid-row: w1 / w5;
        grid-column: w5 / w6;
        grid: subgrid / subgrid;
    }
    .black-side-subgrid {
        display: grid;
        grid-row: b1 / b5;
        grid-column: b5 / b6;
        grid: subgrid / subgrid;
    }
}